[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2020.6.20"
chardet = "==3.0.4"
docutils = "==0.16"
idna = "==2.9"
itsdangerous = "==1.1.0"
kivy = "==1.11.1"
"kivy-deps.glew" = "==0.1.12"
"kivy-deps.gstreamer" = "==0.1.17"
"kivy-deps.sdl2" = "==0.1.22"
kivy-garden = "==0.1.4"
pdf2image = "==1.12.1"
pygments = "==2.6.1"
pyinstaller = "==3.6"
requests = "==2.24.0"
urllib3 = "==1.25.9"
xlrd = "==1.2.0"
packaging = "*"

[dev-packages]

[requires]
python_version = "3.7"
